<div class="row">

    <p class="flow-text"><i class="material-icons">info_outline</i> Let op: Als je je inschrijft, word je meteen naar een betaalpagina gestuurd.
        Hou dus je bankkaart bij de hand. Problemen met online betalen? Laat het dan weten via inschrijvingen@krinkel.be.</p>
</div>


<div class="row">
    <form class="col s12 m12" novalidate name="$ctrl.addForm" ng-submit="$ctrl.addPerson(newPerson)">
        <div class="row">
            <div class="input-field col s12 m6">
                <input id="first_name" type="text" class="validate" ng-model="newPerson.firstName" required>
                <label for="first_name">Voornaam</label>
            </div>
            <div class="input-field col s12 m6">
                <input id="last_name" type="text" class="validate" ng-model="newPerson.lastName" required>
                <label for="last_name">Achternaam</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label for="date_of_birth">Geboortedatum</label>
                <input id="date_of_birth" type="date" class="datepicker" ng-model="newPerson.birthdate" required>

            </div>
        </div>




        <div class="row">
            <div class="input-field col s10">
                <input id="street" type="text" class="validate" ng-model="newPerson.street" required>
                <label for="street">Straat</label>
            </div>
            <div class="input-field col s2">
                <input id="building" type="text" class="validate" ng-model="newPerson.building" required>
                <label for="building">Huisnummer</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s4">
                <input id="postal_code" type="text" class="validate" ng-model="newPerson.postalCode" required>
                <label for="postal_code">Postcode</label>
            </div>
            <div class="input-field col s8">
                <input id="city" type="text" class="validate" ng-model="newPerson.city" required>
                <label for="city">Gemeente</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="phone" type="text" class="validate" ng-model="newPerson.phone" required>
                <label for="phone">Telefoon</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate" ng-model="newPerson.email" required>
                <label for="email">Email</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <p>Ik ben: </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="female" />
                    <label for="female">Vrouw</label>
                </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="male" />
                    <label for="male">Man</label>
                </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="x" />
                    <label for="x">X</label>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col s12">

                <p>In '16-17' was ik: </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="aspi" />
                    <label for="aspi">aspi</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="leader" />
                    <label for="leader">leid(st)er</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="adult" />
                    <label for="adult">Volwassen begeleider</label>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="group" class="autocomplete">
                        <label for="group">Groep</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <div>
                    <input type="checkbox" id="buddy" />
                    <label for="buddy">Ik wil mee als buddy op de internattionale kampgrond en spreek vlot volgende talen:</label>
                    <!-- Modal Trigger -->
                    <a class="btn-floating waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">help</i></a>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Wat is een <i>buddy</i></h4>
                            <p> Als buddy zit je in een leefgroep met internationale deelnemers en andere buddy’s. Je verblijft
                                ook op de internationale kampgrond. Je bent mee verantwoordelijk voor een vlotte Krinkel
                                voor internationale gasten.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                        </div>
                    </div>

                </div>
                <p>
                    <input type="checkbox" class="filled-in" id="english" />
                    <label for="english">Engels</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="french" />
                    <label for="french">Frans</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="spanish" />
                    <label for="spanish">Spaans</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <p>Je eetgewoonten: </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="veg" />
                    <label for="veg">Ik ben vegetariër</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="halal" />
                    <label for="halal">Ik eet vis en vlees, maar halal</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="meat" />
                    <label for="meat">Ik eet vis en vlees</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea placeholder="Zijn er zaken waar we bij maaltijden aandacht aan moeten besteden? Geef hier aan of je bepaalde voedselallergieën hebt."
                    id="dietary" class="materialize-textarea"></textarea>
                <label for="dietary">Opmerkingen maaltijd</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>
                    <input type="checkbox" id="social_promotion" />
                    <label for="social_promotion">Sociale promotie <a href="https://chiro.be/node/71622">(wat is dit?)</a></label>
                </p>
            </div>
        </div>


        <h2>Medische opmerkingen</h2>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="medical" class="materialize-textarea"></textarea>
                <label for="medical">Medische opmerkingen</label>
            </div>
        </div>


        <h2>Andere opmerkingen</h2>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="others" class="materialize-textarea"></textarea>
                <label for="others">Andere opmerkingen</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="$ctrl.addForm.$invalid">Volgende
    <i class="material-icons right">send</i>
  </button>
        <p>{{ addForm.$error | json}}</p>

    </form>

</div>