<div class="row">

    <p class="flow-text"><i class="material-icons">info_outline</i> Let op: Als je je inschrijft, word je meteen naar een betaalpagina gestuurd.
        Hou dus je bankkaart bij de hand. Problemen met online betalen? Laat het dan weten via inschrijvingen@krinkel.be.</p>
</div>


<div class="row">
    <form class="col s12 m12" novalidate name="personForm" ng-submit="$ctrl.addPerson(newPerson)">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="first_name" name="firstName" type="text" class="validate" ng-minlength="1" ng-model="newPerson.firstName" required>
                <label for="first_name">Voornaam</label>
                <p ng-show="personForm.firstName.$invalid && personForm.firstName.$touched" class="error">Voornaam is verplicht</p>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="last_name" name="lastName" type="text" class="validate" ng-model="newPerson.lastName" required>
                <label for="last_name">Achternaam</label>
                <p ng-show="personForm.lastName.$invalid && personForm.lastName.$touched" class="error">Achternaam is verplicht</p>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <label for="date_of_birth">Geboortedatum</label>
                <input id="date_of_birth" name="birthdate" type="date" class="datepicker" ng-model="newPerson.birthdate" required>
                <p ng-show="personForm.birthdateemail.$invalid && personForm.birthdate.$touched" class="error">Geboortedatum is verplicht</p>
            </div>
        </div>




        <div class="row">
            <div class="input-field col s12 m10" >
                <i class="material-icons prefix">home</i>
                <input id="street" name="street" type="text" class="validate" ng-model="newPerson.street" required>

                <label for="street">Straat</label>
                <p ng-show="personForm.street.$invalid && personForm.street.$touched" class="error">Straatnaam is verplicht</p>

            </div>
            <div class="input-field col s6 m2">
                <i class="material-icons prefix">home</i>
                <input id="building" name="building" type="text" class="validate" ng-model="newPerson.building" required>

                <label for="building">Huisnummer</label>
                <p ng-show="personForm.building.$invalid && personForm.building.$touched" class="error">Huisnummer is verplicht</p>
            </div>
        </div>


        <div class="row">
            <div class="input-field col m4 s12">
                <i class="material-icons prefix">home</i>
                <input id="postal_code" name="postalCode" ng-minlength="4" type="text" class="validate" ng-model="newPerson.postalCode" required>

                <label for="postal_code">Postcode</label>
                <p ng-show="personForm.postalCode.$invalid && personForm.postalCode.$touched" class="error">Postcode is verplicht</p>

            </div>
            <div class="input-field col m8 s12">
                <i class="material-icons prefix">home</i>
                <input id="city" name="city" type="text" class="validate" ng-model="newPerson.city" required>

                <label for="city">Gemeente</label>
                <p ng-show="personForm.city.$invalid && personForm.city.$touched" class="error">Gemeente is verplicht</p>

            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input id="phone" name="phone" type="number" class="validate" ng-pattern="$ctrl.phoneNumberPattern" ng-model="newPerson.phone"
                    required>
                <label for="phone">Telefoon</label>
                <p ng-show="personForm.phone.$invalid && personForm.phone.$touched" class="error">Telefoonnummer is verplicht</p>

            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">email</i>
                <input id="email" name="email" type="email" class="validate" ng-model="newPerson.email" required>
                <label for="email">Email</label>
                <p ng-show="personForm.email.$invalid && personForm.email.$touched" class="error">Email is verplicht</p>

            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <p>Ik ben: </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="female" ng-model="newPerson.gender" required/>
                    <label for="female">Vrouw</label>
                </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="male" ng-model="newPerson.gender" required/>
                    <label for="male">Man</label>
                </p>
                <p>
                    <input class="with-gap" name="group1" type="radio" id="x" ng-model="newPerson.gender" required/>
                    <label for="x">X</label>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col s12">

                <p>In '16-17' was ik: </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="aspi" ng-model="newPerson.rank" required/>
                    <label for="aspi">aspi</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="leader" ng-model="newPerson.rank" required/>
                    <label for="leader">leid(st)er</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="adult" ng-model="newPerson.rank" required/>
                    <label for="adult">Volwassen begeleider</label>
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="group" class="autocomplete" ng-model="newPerson.group" required>
                        <label for="group">Groep</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <div>
                    <input type="checkbox" id="buddy" />
                    <label for="buddy">Ik wil mee als buddy op de internattionale kampgrond en spreek vlot volgende talen:</label>
                    <!-- Modal Trigger -->
                    <a class="btn-floating waves-effect waves-light modal-trigger" href="#modal1"><i class="material-icons">help</i></a>
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal">
                        <div class="modal-content">
                            <h4>Wat is een <i>buddy</i></h4>
                            <p> Als buddy zit je in een leefgroep met internationale deelnemers en andere buddy’s. Je verblijft
                                ook op de internationale kampgrond. Je bent mee verantwoordelijk voor een vlotte Krinkel
                                voor internationale gasten.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
                        </div>
                    </div>

                </div>
                <p>
                    <input type="checkbox" class="filled-in" id="english" />
                    <label for="english">Engels</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="french" />
                    <label for="french">Frans</label>
                </p>
                <p>
                    <input type="checkbox" class="filled-in" id="spanish" />
                    <label for="spanish">Spaans</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <p>Je eetgewoonten: </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="veg" ng-model="newPerson.dietary" required/>
                    <label for="veg">Ik ben vegetariër</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="halal" ng-model="newPerson.dietary" required/>
                    <label for="halal">Ik eet vis en vlees, maar halal</label>
                </p>
                <p>
                    <input class="with-gap" name="group2" type="radio" id="meat" ng-model="newPerson.dietary" required/>
                    <label for="meat">Ik eet vis en vlees</label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="small material-icons prefix">mode_edit</i>
                <textarea placeholder="Zijn er zaken waar we bij maaltijden aandacht aan moeten besteden? Geef hier aan of je bepaalde voedselallergieën hebt."
                    id="dietary" class="materialize-textarea" ng-model="newPerson.dietaryText"></textarea>
                <label for="dietary">Opmerkingen maaltijd</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p>
                    <input type="checkbox" id="social_promotion" ng-model="newPerson.socialPromotion"/>
                    <label for="social_promotion">Sociale promotie <a href="https://chiro.be/node/71622">(wat is dit?)</a></label>
                </p>
            </div>
        </div>


        <h2>Medische opmerkingen</h2>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="medical" class="materialize-textarea" ng-model="newPerson.medicalText"></textarea>
                <label for="medical">Medische opmerkingen</label>
            </div>
        </div>


        <h2>Andere opmerkingen</h2>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="others" class="materialize-textarea" ng-model="newPerson.otherText"></textarea>
                <label for="others">Andere opmerkingen</label>
            </div>
        </div>
                <p>Iedereen heeft zijn eigen voorkeur, achtergrond, mogelijkheden en talenten en daar willen we op Krinkel zoveel mogelijk rekening mee houden. Want iedereen heeft het recht om dit fantastische bivak mee te maken. Ook mensen die tegen financiële, culturele, fysieke of andere drempels aanlopen.  Hier vind je meer uitleg. Heb je extra ondersteuning nodig tijdens de spelen, verplaatsingen of andere taken? Laat het hier dan zeker weten zodat we samen naar oplossingen kunnen zoeken.  Je kan ons ook contacteren op 03/231 07 95 of info@krinkel.be.</p>
    
        <button class="btn waves-effect waves-light" type="submit" name="action" ng-disabled="personForm.$invalid">Volgende
    <i class="material-icons right">send</i>
  </button>

    </form>

</div>