<a class="btn right" href="/verbonden">Bekijk tabel</a>
<h1>Statistieken</h1>
<div class="row">
    <input class="col s12 m12">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Logins</span>
                <nvd3 options='$ctrl.lineOptions' data='$ctrl.lineData'></nvd3>
            </div>
<br/>
            <br/>

        </div>
        <label for="startDate">Start Date:</label>
    <form name="graphForm">
        <input type="date" class="datepicker" id="startDate" name="startDate" ng-model="$ctrl.startDate" class="validate" ng-pattern="$ctrl.datePattern" required>
        <p ng-show="graphForm.startDate.$invalid" class="error"><i
            class="material-icons">error_outline</i> Geef een datum in in het correcte formaat (MM-DD-YYYY)
        </p>
        <label for="endDate">End Date:</label>
        <input type="date" class="datepicker" id="endDate" name="endDate" ng-model="$ctrl.endDate" class="validate" ng-pattern="$ctrl.datePattern" required>
        <p ng-show="(graphForm.endDate.$invalid)" class="error"><i
            class="material-icons">error_outline</i> Geef een datum in in het correcte formaat (MM-DD-YYYY)
        </p>
        <input type="button" value="Herteken" ng-click="graphForm.$valid && $ctrl.changeDate()">
    </form>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col s6 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Inschrijvingen</span>
                <nvd3 options='$ctrl.sunBurstOptions' data='$ctrl.sunBurstData'></nvd3>
            </div>
        </div>
    </div>

    <div class="col s6 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Status</span>
                <nvd3 options='$ctrl.barOptions' data='$ctrl.barData'></nvd3>
            </div>
        </div>
    </div>
</div>

