<spinner loading="$ctrl.isLoading"></spinner>

<div class="collection" ng-show="!$ctrl.isLoading">
    <a ng-click="$ctrl.selectPerson(colleague)"
       ng-repeat="colleague in $ctrl.colleagues"
       class="collection-item">
        {{colleague.first_name}} {{colleague.last_name}}<br/>
        adnummer: {{colleague.adnr}}
    </a>

    <!--<a class="collection-item">-->
        <!--{{colleague.first_name}} {{colleague.last_name}}<br/>-->
        <!--adnummer: {{colleague.adnr}}-->
    <!--</a>-->
</div>
