target/
.idea/
*.iml
Krinkel-Frontend/src/main/webapp/
*.project
*.settings
Krinkel-Frontend/src/main/webapp
Krinkel-Frontend/src/main/webapp/index.html
Krinkel-Frontend/src/main/webapp-dev/npm-debug.log
Krinkel-Rest/src/main/resources/static/
