<h1>Admin beheer</h1>

<h2>Lijst van administrators</h2>

<spinner loading="$ctrl.isLoading"></spinner>

<div class="collection" ng-show="!$ctrl.isLoading">
    <a ng-click="$ctrl.selectPerson(colleague)"
       ng-repeat="admin in $ctrl.admins"
       class="collection-item">
        <span class="badge">
            <button class="waves-effect waves-light btn red" ng-click="$ctrl.deleteAdmin(admin.adNummer)">delete <i
                class="material-icons" style="vertical-align: bottom">delete</i></button>
        </span>
        {{admin.firstname}} {{admin.lastname}}<br/>
        adnummer: {{admin.adNummer}}
    </a>

</div>

<p class="flow-text"><i class="material-icons">info_outline</i>
    Geef het adnummer in om een persoon admin te maken.
</p>

<form class="col s12 m12" novalidate name="createAdmin" ng-submit="$ctrl.searchAndSaveAsAdmin(adNummer)">
    <div class="row">
        <div class="input-field col s12 m12">
            <i class="material-icons prefix">perm_identity</i>
            <input id="adnumber" type="text" ng-minlength="1"
                   ng-model="adNummer" required/>
            <label for="adnumber">adnummer</label>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn waves-effect" ng-disabled="!createAdmin.$valid">
            Maak admin
            <i class="material-icons right">send</i>
        </button>
    </div>
</form>

