<spinner loading="$ctrl.isLoading"></spinner>
<div style="font-size: 20px; text-align: center; padding-top: 20px;" ng-if="$ctrl.isLoading">Uw gegevens worden
    opgehaald
</div>

<div ng-if="$ctrl.isLoading === false && $ctrl.disableEverything">
    <h1>Fout bij laden van gegevens</h1>
    <p class="flow-text"><i class="material-icons">error_outline</i>
        Er is iets misgelopen bij het inladen van je gegevens uit de databank.
        Om je toch te kunnen inschrijven kun je contact opnemen via <a
            href="mailto:inschrijvingen@krinkel.be">inschrijvingen@krinkel.be</a>.</p>
</div>

<div class="row" id="divAroundTopText">
    <h1>Koop tickets aan</h1>
    <p class="flow-text"><i class="material-icons">info_outline</i> Let op: Als je trein ticketten of drank- en
        eetbonnen koopt, word je meteen naar
        een betaalpagina gestuurd.
        Hou dus je bankkaart bij de hand. Problemen met online betalen? Laat het dan weten via <a
            href="mailto:inschrijvingen@krinkel.be">inschrijvingen@krinkel.be</a>.</p>
    <p class="flow-text"><i class="material-icons">info_outline</i>
        Velden met een "*"-symbool zijn verplicht.
    </p>
</div>

<div class="row" id="divAroundForm">

    <div class="row">
        <button class="btn col s5" ng-click="$ctrl.trainTickets()">
            Trein Ticketten
            <i class="material-icons right">train</i>
        </button>
        <button class="btn col s5 offset-s2" ng-click="$ctrl.coupons()">
            Drank- en Eetbonnen
            <i class="material-icons right">local_dining</i>
        </button>
    </div>


    <div id="trainTicketForm" ng-show="$ctrl.orderingTrainTickets">

        <div class="row">
            <h2>Trein ticketten kopen</h2>
            <p class="flow-text">
                <i class="material-icons prefix">info_outline</i>
                De prijs voor een trein ticket bedraagt €{{$ctrl.trainTicketPrices[0].price}}.
                Bij het bestellen van trein ticketten wordt een transportkost van €0,50 mee aangerekend.
            </p>
        </div>

        <form class="col s12 m12" novalidate name="trainTicketForm"
              ng-submit="trainTicketForm.$valid && $ctrl.purchaseTrainTickets()">

            <div class="row">
                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">add_shopping_cart</i>
                    <input id="numberOfTrainTickets" name="numberOfTrainTickets" class="validate" type="text"
                           ng-pattern="[1-9][0-9]*$"
                           ng-model="$ctrl.numberOfTrainTickets" required ng-minlength="1" placeholder="..."
                           ng-change="$ctrl.updatePriceToPayForTrainTickets()"/>
                    <label for="numberOfTrainTickets">Aantal trein ticketten</label>
                    <p ng-show="(trainTicketForm.numberOfTrainTickets.$invalid && (trainTicketForm.$submitted || trainTicketForm.street.$touched))"
                       class="error">
                        Het aantal moet groter zijn dan 0.
                    </p>
                </div>
                <div class="input-field col m6 s12">
                    <i class="material-icons prefix">euro_symbol</i>
                    <input disabled id="totalAmountToPayForTrainTickets" name="totalAmountToPayForTrainTickets"
                           type="text" ng-model="$ctrl.totalAmountToPayForTrainTickets"/>
                    <label for="totalAmountToPayForTrainTickets">Totaal te betalen</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m8 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="street" name="street" class="validate" type="text"
                           ng-model="$ctrl.person.address.street"
                           required placeholder="..."
                    />
                    <label for="street">Straat *</label>
                    <p ng-show="trainTicketForm.street.$invalid && (trainTicketForm.$submitted || trainTicketForm.street.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Straatnaam is verplicht
                    </p>
                </div>
                <div class="input-field col m4 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="houseNumber" name="houseNumber" class="validate" type="text"
                           ng-model="$ctrl.person.address.houseNumber" required placeholder="..." ng-minlength="1"/>
                    <label for="houseNumber">Huisnummer *</label>
                    <p ng-show="trainTicketForm.houseNumber.$invalid && (trainTicketForm.$submitted || trainTicketForm.houseNumber.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Huisnummer verplicht
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m4 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="postal_code" name="postalCode" ng-minlength="4" ng-maxlength="4"
                           class="validate"
                           ng-model="$ctrl.person.address.postalCode" type="text"
                           ng-pattern="$ctrl.postalcodePattern" placeholder="..."
                           required/>
                    <label for="postal_code">Postcode *</label>
                    <p ng-show="trainTicketForm.postalCode.$invalid && (trainTicketForm.$submitted || trainTicketForm.postalCode.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i> Postcode is verplicht
                    </p>
                </div>

                <div class="input-field col m8 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="city" name="city" class="validate" ng-model="$ctrl.person.address.city" required
                           type="text"
                           placeholder="..."/>
                    <label for="city">Gemeente *</label>
                    <p ng-show="trainTicketForm.city.$invalid && (trainTicketForm.$submitted || trainTicketForm.city.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Gemeente is verplicht
                    </p>
                </div>
            </div>

            <div>
                <a ng-click="$ctrl.initTrainModal6(trainTicketForm.$valid)" class="btn">
                    Betalen
                    <i class="material-icons right">send</i>
                </a>
            </div>

            <div id="trainModal6" class="modal">
                <div class="modal-content">
                    <h4>Zijn deze gegevens correct?</h4>
                    <p>U wenst {{$ctrl.numberOfTrainTickets}} trein ticketten voor
                        €{{$ctrl.totalAmountToPayForTrainTickets}}.</p>
                    <p>Het adres voor de bestelling is {{$ctrl.trainModal6Address}}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" modal-action modal-close btn-flat">JA</button>
                    <a href="" class="modal-action modal-close btn-flat">NEE</a>
                </div>
            </div>
        </form>
    </div>

    <div id="couponForm" ng-show="!$ctrl.orderingTrainTickets">
        <form class="col s12 m12" novalidate name="couponForm"
              ng-submit="couponForm.$valid && $ctrl.purchaseCoupons()">
            <div class="row">
                <table class="striped centered responsive-table">
                    <thead>
                    <tr>
                        <th>Prijs</th>
                        <th>Aantal bonnetjes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5&euro;</td>
                        <td>8 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>10&euro;</td>
                        <td>16 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>15&euro;</td>
                        <td>25 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>20&euro;</td>
                        <td>35 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>25&euro;</td>
                        <td>45 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>50&euro;</td>
                        <td>90 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>75&euro;</td>
                        <td>135 bonnetjes</td>
                    </tr>
                    <tr>
                        <td>100&euro;</td>
                        <td>180 bonnetjes</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="input-field col m8 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="streetCoupon" name="streetCoupon" class="validate" type="text"
                           ng-model="$ctrl.person.address.street"
                           required placeholder="..."
                    />
                    <label for="streetCoupon">Straat *</label>
                    <p ng-show="couponForm.streetCoupon.$invalid && (couponForm.$submitted || couponForm.streetCoupon.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Straatnaam is verplicht
                    </p>
                </div>
                <div class="input-field col m4 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="houseNumberCoupon" name="houseNumberCoupon" class="validate" type="text"
                           ng-model="$ctrl.person.address.houseNumber" required placeholder="..." ng-minlength="1"/>
                    <label for="houseNumberCoupon">Huisnummer *</label>
                    <p ng-show="couponForm.houseNumberCoupon.$invalid && (couponForm.$submitted || couponForm.houseNumberCoupon.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Huisnummer verplicht
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col m4 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="postal_codeCoupon" name="postalCodeCoupon" ng-minlength="4" ng-maxlength="4"
                           class="validate"
                           ng-model="$ctrl.person.address.postalCode" type="text"
                           ng-pattern="$ctrl.postalcodePattern" placeholder="..."
                           required/>
                    <label for="postal_codeCoupon">Postcode *</label>
                    <p ng-show="couponForm.postalCodeCoupon.$invalid && (couponForm.$submitted || couponForm.postalCodeCoupon.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i> Postcode is verplicht
                    </p>
                </div>

                <div class="input-field col m8 s12">
                    <i class="material-icons prefix">home</i>
                    <input id="cityCoupon" name="cityCoupon" class="validate" ng-model="$ctrl.person.address.city" required
                           type="text"
                           placeholder="..."/>
                    <label for="cityCoupon">Gemeente *</label>
                    <p ng-show="couponForm.cityCoupon.$invalid && (couponForm.$submitted || couponForm.cityCoupon.$touched)"
                       class="error">
                        <i class="material-icons">error_outline</i>
                        Gemeente is verplicht
                    </p>
                </div>
            </div>
            <div class="row">
                <label for="aantalBonnetjes">Aantal bonnetjes</label>
                <select name="aantalBonnetjes" id="aantalBonnetjes" ng-model="$ctrl.selectedCouponPrice"
                        class="browser-default" required>
                    <option ng-repeat="couponPrice in $ctrl.couponPrices" value="{{couponPrice.ticketamount}}">
                        €{{couponPrice.price}} - {{couponPrice.ticketamount}} bonnetjes
                    </option>
                </select>
                <p ng-show="couponForm.aantalBonnetjes.$invalid && (couponForm.$submitted || couponForm.aantalBonnetjes.$touched)"
                   class="error">
                    <i class="material-icons">error_outline</i> Bedrag is verplicht
                </p>
            </div>

            <div>
                <a ng-click="$ctrl.initCouponModal(couponForm.$valid)" class="btn">
                    Betalen
                    <i class="material-icons right">send</i>
                </a>
            </div>

            <div id="couponModal" class="modal">
                <div class="modal-content">
                    <h4>Zijn deze gegevens correct?</h4>
                    <p>{{$ctrl.couponPriceText}}</p>
                    <p>Het adres voor de bestelling is {{$ctrl.couponModalAddress}}</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" modal-action modal-close btn-flat">JA</button>
                    <a href="" class="modal-action modal-close btn-flat">NEE</a>
                </div>
            </div>

        </form>
    </div>

    <div ng-show="$ctrl.functionCallAfterDOMRender()"></div>
</div>

