<spinner loading="$ctrl.isLoading"></spinner>
<div style="font-size: 20px; text-align: center; padding-top: 20px;" ng-if="$ctrl.isLoading">Uw gegevens worden opgehaald</div>

<div ng-if="$ctrl.isLoading === false && $ctrl.disableEverything">
    <h1>Fout bij laden van gegevens</h1>
    <p class="flow-text"><i class="material-icons">error_outline</i>
        Er is iets misgelopen bij het inladen van je gegevens uit de databank.
        Om je toch te kunnen inschrijven kun je contact opnemen via <a
            href="mailto:inschrijvingen@krinkel.be">inschrijvingen@krinkel.be</a>.</p>
</div>

<div class="row" id="divAroundTopText" style="display:none">
    <h1>Koop tickets aan</h1>
    <p class="flow-text"><i class="material-icons">info_outline</i> Let op: Als je tickets koopt, word je meteen naar
        een betaalpagina gestuurd.
        Hou dus je bankkaart bij de hand. Problemen met online betalen? Laat het dan weten via <a
            href="mailto:inschrijvingen@krinkel.be">inschrijvingen@krinkel.be</a>.</p>
    <p class="flow-text"><i class="material-icons">info_outline</i>
        Velden met een "*"-symbool zijn verplicht.
    </p>
</div>

<div class="row" id="divAroundForm" style="display:none">

    <form class="col s12 m12" novalidate name="ticketForm" ng-submit="ticketForm.$valid && $ctrl.prepurchase($ctrl.ticketPurchase)">
        <div class="row">

        </div>

        <div>
            <a ng-click="$ctrl.initModal6(ticketForm.$valid)" class="btn">
                Betalen
                <i class="material-icons right">send</i>
            </a>
        </div>

        <div id="modal6" class="modal">
            <div class="modal-content">
                <h4>Zijn deze gegevens correct?</h4>
            </div>
            <div class="modal-footer">
                <button type="submit" class=" modal-action modal-close btn-flat">JA</button>
                <a href="" class="modal-action modal-close btn-flat">NEE</a>
            </div>
        </div>
    </form>
</div>

