nav {
    background-color: transparent;
    box-shadow: none;
    height: 100px;
    .nav-wrapper {
      padding: 0 20px;
      .hide-on-med-and-down ul,
      .hide-on-med-and-down li,
      .hide-on-med-and-down a {
          height: 100%;
        }
      .hide-on-med-and-down li a {
          padding-top: 19px;
          letter-spacing: 2px;
        }
      .hide-on-med-and-down li a:hover {
            background-color: rgba(0,0,0,0);
            color: $hoofdkleur;
      }
      .hide-on-med-and-down li a:active {
          color: $darkGreen;
      }
      .hide-on-med-and-down li a {
        svg {
          fill: $white;
        }
      }
      .hide-on-med-and-down li a:hover > svg {
        fill: $hoofdkleur;
      }
      transition: top 0.2s ease-in-out;
    }
  a.button-collapse i {
    font-size: 45px;
    line-height: 64px;
    &:hover {
      color: $darkGreen;
    }
  }
  svg {

    fill: $darkGreen;
    height: 20px;
    width: 20px;
  }
  &:hover {
    fill: $white;
  }
  .dropdown-content {
    .active {
      background-color: $hoofdkleur;
      color: $white !important;
    }
  }
}

.brand-logo {
  .logoDate {
    top: 19px;
    vertical-align: top;
    letter-spacing: 2px;
    font-size: 1rem;
    position: relative;
    padding-left: 20px;
  }
  &:hover > .logoDate {
    color: $hoofdkleur;
  }
  &:active > .logoDate {
    color: $darkGreen;
  }
  img {
    padding-top: 15px;
    width: 60px;
    vertical-align: middle;
  }
  @media only screen and (max-width: 992px) {
    left: auto !important;
  }
}

.sideNavLogo {
      width: 200px;
      position: absolute;
      top: 0;
      left: calc(50% - 100px);
}

.side-nav {
  padding-top: 200px;
  li a {
    padding-left: 10%;
    color: $darkGreen;
    font-size: 18px;
    letter-spacing: 2px;
  }
  a:hover {
    background-color: $lightGreen;
  }
  .active {
    background-color: $hoofdkleur;
    color: $white;
  }

  svg {
    vertical-align: middle;
  }
}

#sidenav-overlay {
  z-index: auto;
}

.dropdown-content {
  top: 19px !important;
  height: auto !important;
  width: auto !important;
  li {
     a {
       color: $darkGreen !important;
       .active {
         color: $white !important;
       }
     }
    &:hover > a {
      background-color: $lightGreen !important;
    }

  }
}

@media only screen and (max-width: 992px) {
  .brand-logo img {
    width: 90px;
    padding-left: 20px;
  }
  nav .brand-logo {
    right: -20px;
    img {
      float: right;
    }
  }
  .hide-on-med-and-down {
    display: none !important;
  }
  .button-collapse {
    display: inherit !important;
    height: 100% !important;
    i {
      @include vertical-align;
    }
  }

}

@media only screen and (max-width: 1045px) {
  .hide1 {
    display: none !important;
  }
}

@media only screen and (max-width: 1110px) {
  .hide2 {
    display: none !important;
  }
}

@media only screen and (max-width: 1175px) {
  .hide3 {
    display: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .hide4 {
    display: none !important;
  }
}

@media only screen and (max-width: 1280px) {
  .hide5 {
    display: none !important;
  }
}

.show1 {
  display: none !important;
  @media only screen and (max-width: 1045px) {
    display: block !important;
  }
}

.show2 {
  display: none !important;
  @media only screen and (max-width: 1110px) {
    display: block !important;
  }
}

.show3 {
  display: none !important;
  @media only screen and (max-width: 1175px) {
    display: block !important;
  }
}

.show4 {
  display: none !important;
  @media only screen and (max-width: 1280px) {
    display: block !important;
  }
}

.show5 {
  display: none !important;
  @media only screen and (max-width: 1280px) {
    display: block !important;
  }
}

.navUp {
  top: -100px !important;
}

#sidenavSpacer {
  padding-bottom: 50px;
}
