<div ng-show="$ctrl.colleagueList.length === 0">
    <p>Uw krinkelkarretje is leeg.</p>
</div>
<table class="bordered highlight" ng-show="$ctrl.colleagueList.length > 0">
    <thead>
    <tr>
        <th>Naam</th>
        <th>Bedrag</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="col in $ctrl.colleagueList">
            <td><a ng-click="$ctrl.deleteColleague(col.adNumber)" href="#"><i class="material-icons red-text table-valign">remove_circle</i></a>
                <span class="table-valign">{{col.firstName}} {{col.lastName}}</span></td>
            <td>&euro; {{ $ctrl.participantPrice / 100 }}</td>
    </tr>
    <tr>
        <td><strong>Totale prijs:</strong></td>
        <td><strong>&euro; {{ $ctrl.participantPrice / 100 * $ctrl.colleagueList.length }}</strong></td>
    </tr>
    </tbody>
</table>
<div class="col s1 left">
    <div class="add-btn">
        <a href="/select-participant" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>
</div>
<div class="col s1 right">
    <div class="pay-btn">
        <button data-target="modal1" class="btn right waves-effect waves-light modal-trigger" name="action"
                ng-show="$ctrl.colleagueList.length > 0">
            Betalen
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Is dit uw email adres?</h4>
        <div class="input-field">
            <input id="check_email" name="check_email" type="email" class="validate" ng-minlength="1"
                   ng-model="$ctrl.subscriberEmail" required>
            <label for="check_email">Email</label>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" ng-click="$ctrl.doPayment()" class=" modal-action modal-close waves-effect waves-green btn-flat">Betalen</a>
    </div>
    <div ng-show="$ctrl.functionCallAfterDOMRender()"></div>
</div>

