<ul id="slide-out" class="side-nav fixed">
    <li class="logo">
        <a id="logo-container" ng-click="$ctrl.go()" class="brand-logo">
        </a>
    </li>

    <div ng-if="$ctrl.AuthService.getLoggedinUser() != null">
        <!--<li>-->
        <!--<a class="subheader">-->
        <!--Inschrijven-->
        <!--</a>-->
        <!--</li>-->
        <li class="collection-item" ng-if="$ctrl.getUserDetails().hasPaid == false">
            <a href="/register-participant">
                <i class="material-icons">person_add</i> Schrijf je in
            </a>
        </li>
        <li class="collection-item">
            <a href="/select-participant">
                <i class="material-icons">group_add</i> Schrijf anderen in
            </a>
        </li>
        <li class="collection-item" ng-if="$ctrl.getUserDetails().hasPaid == false">
            <a href="/register-volunteer">
                <i class="material-icons">work</i> Schrijf je in als medewerker
            </a>
        </li>
        <li class="collection-item">
            <a href="/find-participant-by-ad">
                <i class="material-icons">work</i> Schrijf je een andere persoon
            </a>
        </li>
        <li>
            <div class="divider">
            </div>
        </li>
        <li>
            <a class="subheader">
                Administratie
            </a>
        </li>
        <!--<li class="collection-item" ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">-->
            <!--<a href="/analytics">-->
                <!--<i class="material-icons">equalizer</i> Overzicht inschrijvingen-->
            <!--</a>-->
        <!--</li>-->
        <li class="collection-item">
            <a href="/analytics">
                <i class="material-icons">equalizer</i> Overzicht inschrijvingen
            </a>
        </li>
        <li class="collection-item" ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">
            <a href="http://krinkel2017bo.azurewebsites.net/" target="_blank">
                <i class="material-icons">timeline</i> Statistieken
            </a>
        </li>

        <!--<li>-->
        <!--<br/>-->
        <!--</li>-->
        <li>
            <div class="divider">
            </div>
        </li>
        <li class="collection-item">
            <a ng-click="$ctrl.logout()" href="#">
                <i class="material-icons">exit_to_app</i>Afmelden
            </a>
        </li>

        <li>
            <br/>
        </li>
        <a href="http://www.realdolmen.com/" target="_blank">
            <div class="center-align col l12">

                <img src="http://www.realdolmen.com/themes/itr_theme/images/dest/svg/sprite/individual/logo.svg"/>
                <!--<object data="http://www.realdolmen.com/themes/itr_theme/images/dest/svg/sprite/individual/logo.svg"-->
                <!--type="image/svg+xml">-->
                <!--&lt;!&ndash;<img src="yourfallback.jpg" />&ndash;&gt;-->
                <!--</object>-->

                <!--<div id="rd-logo" class="col l12 bottom brand-logo">-->
                <!--&lt;!&ndash;<img src={require("../../../res/r.jpg")} class="bottom" style="">&ndash;&gt;-->
                <!--</div>-->
            </div>
        </a>
        <!--<a id="logo-container-rd"  class="brand-logo"></a>-->

    </div>

    <div class="setlocked" ng-if="$ctrl.AuthService.getLoggedinUser() == null">
        <i class="material-icons large lockicon">lock</i>
    </div>


</ul>
