<h1>Lijst van {{$ctrl.verbondNaam}}</h1>

<style>
    tbody tr:hover {
        background-color: #EEE;
        cursor: pointer;
    }
</style>

<table>
    <thead>
    <tr>
        <th data-field="stamNummer">Stam nummer</th>
        <th data-field="naam">Naam</th>
        <th data-field="amountParticipants">Aantal deelnemers</th>
        <th data-field="amountVolunteers">Aantal medewerkers</th>
    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="gewest in $ctrl.gewesten" ng-click="$ctrl.redirectToGroepen(gewest.stamnummer, gewest.name)">
        <td>
            {{gewest.stamnummer}}
        </td>
        <td>
            {{gewest.name}}
        </td>
        <td>
            {{gewest.aantal_ingeschreven_deelnemers}}
        </td>
        <td>
            {{gewest.aantal_ingeschreven_vrijwilligers}}
        </td>
    </tr>
    </tbody>
</table>
