<h1>Lijst van {{$ctrl.gewestNaam}}</h1>

<style>
    tbody tr:hover {
        background-color: #EEE;
        cursor: pointer;
    }
    .bevestigd{
        color : blue;
    }
    .betaald{
        color : green;
    }
    .onbetaald{
        color : red;
    }
    .geannuleerd{
        color : grey;
    }
    .inlineDiv{
        display:inline;
    }
</style>

<div ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">
    <span class="bevestigd">Bevestigd</span> - <span class="betaald">Betaald</span> - <span class="onbetaald">Onbetaald</span> - <span class="geannuleerd">Geannuleerd</span>
</div>

<table>
    <thead>
    <tr>
        <th data-field="stamNummer">Stam nummer</th>
        <th data-field="naam">Naam</th>
        <th data-field="amountParticipants">Aantal deelnemers</th>
        <!--<th data-field="amountVolunteers" ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">Aantal medewerkers</th>-->
    </tr>
    </thead>


    <tbody>
    <tr ng-repeat="groep in $ctrl.groepen" ng-click="$ctrl.redirectToGroep(groep.stamnummer, groep.name)">
        <td>
            {{groep.stamnummer}}
        </td>
        <td>
            {{groep.name}}
        </td>
        <td>
            <div class="inlineDiv" ng-if="$ctrl.AuthService.getUserRole() !== 'ADMIN'">
                {{groep.aantal_ingeschreven_deelnemers_bevestigd}}
            </div>
            <div class="inlineDiv" ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">
                <span class="bevestigd">{{groep.aantal_ingeschreven_deelnemers_bevestigd}}</span> - <span class="betaald">{{groep.aantal_ingeschreven_deelnemers_betaald}}</span> - <span class="onbetaald">{{groep.aantal_ingeschreven_deelnemers_onbetaald}}</span> - <span class="geannuleerd">{{groep.aantal_ingeschreven_deelnemers_geannuleerd}}</span>
            </div>
        </td>
        <!--<td ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">-->
            <!--{{groep.aantal_ingeschreven_vrijwilligers}}-->
            <!--<i class="material-icons right icon-green">send</i>-->
        <!--</td>-->
    </tr>
    </tbody>
</table>
