<h1 ng-if="!$ctrl.unitLevel">Lijst van verbonden</h1>
<h1 ng-if="$ctrl.unitLevel">Lijst van {{$ctrl.unitLevel}}</h1>
<style>
    tbody tr:hover {
        background-color: #EEE;
        cursor: pointer;
    }
    select {
        display: block;
        cursor: pointer;
    }
    option {
        cursor: pointer;
    }
</style>

<a class="btn" ng-click="$ctrl.goToPrevious($ctrl.verbondStamNummer)" ng-if="$ctrl.unitLevel">
    <i class="material-icons left">chevron_left</i>
    Terug
</a>

<a class="btn" href="/verbonden">
    Verbonden
</a>

<a class="btn" ng-click="$ctrl.switchDetails('participants')" ng-if="$ctrl.userDetails">
    Deelnemers
</a>

<a class="btn" ng-click="$ctrl.switchDetails('volunteers')" ng-if="$ctrl.userDetails">
    Medewerkers
</a>

<h2 ng-if="$ctrl.participantDetails">Deelnemers</h2>
<h2 ng-if="$ctrl.volunteerDetails">Medewerkers</h2>

<table ng-if="!$ctrl.userDetails">
    <thead>
    <tr>
        <th data-field="name">Naam</th>
        <th data-field="amountParticipants">Aantal deelnemers</th>
        <th data-field="amountVolunteers">Aantal medewerkers</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="verbondStamNummer in $ctrl.verbonden track by $index" ng-click="$ctrl.openExtraInfo(verbondStamNummer)">
        <td>
            {{verbondStamNummer.name}}
        </td>
        <td>
            {{verbondStamNummer.aantal_ingeschreven_deelnemers}}
        </td>
        <td>
            {{verbondStamNummer.aantal_ingeschreven_vrijwilligers}}
            <i class="material-icons right icon-green"
               ng-if="verbondStamNummer.stamnummer.endsWith('00') || $ctrl.AuthService.getUserRole() === 'ADMIN'">send</i>
        </td>
    </tr>
    </tbody>
</table>

<table ng-if="$ctrl.participantDetails">
    <thead>
    <tr>
        <th data-field="name">Naam</th>
        <th data-field="address">Adres</th>
        <th data-field="city">Gemeente</th>
        <th data-field="eatinghabit">Eetgewoonte</th>
        <th data-field="medicalRemarks">Medische info</th>
        <th ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'" style="min-width: 110px;">Status</th>
        <th ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'"><i class="material-icons right icon-green">delete</i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="participant in $ctrl.participants track by $index" id="{{ ::participant.id }}">
        <td>
            {{participant.firstName}} {{participant.lastName}}
        </td>
        <td>
            {{participant.address.street}}
        </td>
        <td>
            {{participant.address.city}}
        </td>
        <td>
            {{participant.eatinghabbit}}
        </td>
        <td>
            {{participant.medicalRemarks}}
        </td>
        <td ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'" style="min-width: 110px;">
            <select ng-model="participant.status" ng-init="participant.status" ng-options="item.value as item.label for item in $ctrl.statusses"  ng-change="$ctrl.saveData(participant.id, participant.status)">
            </select>
        </td>
        <td ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">
            <a ng-click="$ctrl.initCancelModal(participant.id)">
                <i class="material-icons right icon-green">clear</i>
            </a>
        </td>
    </tr>
    </tbody>
</table>

    <!-- Modal Structure -->
    <div id="{{ ::'modal' + participant.id }}"ng-if="$ctrl.participantDetails" ng-repeat="participant in $ctrl.participants track by $index" class="modal">
        <div class="modal-content">
            <h4>Wil u deze bestelling annuleren?</h4>
        </div>
        <div class="modal-footer">
            <a href="" class=" modal-action modal-close waves-effect btn-flat"
               ng-click="$ctrl.putParticipantToCancelled(participant.id)">OK</a>
            <a href="" class="modal-action modal-close waves-effect btn-flat">CANCEL</a>
        </div>
    </div>


<table ng-if="$ctrl.volunteerDetails">
    <thead>
    <tr>
        <th data-field="name">Naam</th>
        <th data-field="address">Adres</th>
        <th data-field="city">Gemeente</th>
        <th data-field="eatinghabit">Eetgewoonte</th>
        <th data-field="medicalRemarks">Medische info</th>
        <th data-field="function">Functie</th>
        <th data-field="campground">Kampgrond</th>
        <th ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'" style="min-width: 110px;">Status</th>
        <th ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'"><i class="material-icons right icon-green">delete</i></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="volunteer in $ctrl.volunteers track by $index" id="{{ volunteer.id }}">
        <td>
            {{volunteer.firstName}} {{volunteer.lastName}}
        </td>
        <td>
            {{volunteer.address.street}} {{volunteer.address.houseNumber}}
        </td>
        <td>
            {{volunteer.address.city}}
        </td>
        <td>
            {{volunteer.eatinghabbit}}
        </td>
        <td>
            {{volunteer.medicalRemarks}}
        </td>
        <td>
            {{volunteer.function.preset}}
        </td>
        <td>
            {{volunteer.campGround}}
        </td>
        <td ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'" style="min-width: 110px;">
            <select ng-model="volunteer.status" ng-init="volunteer.status" ng-change="$ctrl.saveData(volunteer.id, volunteer.status)" ng-options="item.value as item.label for item in $ctrl.statusses">
            </select>
        </td>
        <td ng-if="$ctrl.AuthService.getUserRole() === 'ADMIN'">
            <a ng-click="$ctrl.initCancelModal(volunteer.id)">
                <i class="material-icons right icon-green">clear</i>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal Structure -->
<div id="{{ ::'modal' + volunteer.id }}"ng-if="$ctrl.volunteerDetails" ng-repeat="volunteer in $ctrl.volunteers track by $index" class="modal">
    <div class="modal-content">
        <h4>Wil u deze bestelling annuleren?</h4>
    </div>
    <div class="modal-footer">
        <a href="" class=" modal-action modal-close waves-effect btn-flat"
           ng-click="$ctrl.putParticipantToCancelled(volunteer.id)">OK</a>
        <a href="" class="modal-action modal-close waves-effect btn-flat">CANCEL</a>
    </div>
</div>
