<div style="margin-top: 20px;">
    <div class="row">
        <div class="col S6 m6 l6">
            <h5>Naam</h5>
        </div>

        <div class="col S6 m6 l6">
            <h5>AD Nummer</h5>
        </div>
    </div>

    <div class="divider">
    </div>

    <div class="row">
        <div class="col S6 m6 l6">
            <p ng-bind="$ctrl.getNameParticipant()"></p>
        </div>

        <div class="col S6 m6 l6">
            <p ng-bind="$ctrl.getParticipant().adNumber"></p>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col s6">
        <button class="btn waves-effect waves-light" ng-click="$ctrl.subscribeMember()" name="action">Schrijf in als deelnemer
            <i class="material-icons right">send</i>
        </button>
    </div>

    <div class="col s6">
        <button class="btn waves-effect waves-light" ng-click="$ctrl.subscribeColleague()" name="action">Schrijf in als medewerker
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>
