<div class="row">
    <form class="col s12 m12" novalidate name="personForm" ng-submit="$ctrl.findByAdNumber(368021)">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="adNumber" name="adNumber" type="number" class="validate" ng-minlength="6" ng-maxlength="6"
                       ng-model="$ctrl.adNumber" required>
                <label for="adNumber">AdNummer *</label>
                <p ng-show="personForm.AdNumber.$invalid" class="error">
                    <i class="material-icons">error_outline</i>Geef een adnummer in (6 cijfers)</p>
            </div>
        </div>
        <h2> Opgehaalde data</h2>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="first_name" name="first_name" type="text"
                       ng-model="$ctrl.participant.firstName">
                <label for="first_name">voornaam *</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light modal-trigger" action="submit"
                ng-disabled="!personForm.$valid">
            Betalen
            <i class="material-icons right">send</i>
        </button>
        </form>
    </div>
<div ng-show="$ctrl.functionCallAfterDOMRender()"></div>
