<div class="row">
    <form class="col s12 m12" novalidate name="personForm" ng-submit="$ctrl.findByAdNumber(308986)">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="first_name" name="firstName" type="text" class="validate" ng-minlength="1"
                       ng-model="$ctrl.participant.firstName" required>
                <label for="first_name">Voornaam *</label>
                <p ng-show="personForm.firstName.$invalid && personForm.firstName.$touched" class="error"><i
                    class="material-icons">error_outline</i> Voornaam is verplicht</p>
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">perm_identity</i>
                <input id="last_name" name="lastName" type="text" class="validate" ng-model="$ctrl.participant.lastName"
                       required>
                <label for="last_name">Achternaam *</label>
                <p ng-show="personForm.lastName.$invalid && personForm.lastName.$touched" class="error"><i
                    class="material-icons">error_outline</i> Achternaam is verplicht
                </p>
            </div>
        </div>

        <button class="btn waves-effect waves-light modal-trigger" action="submit"
                ng-disabled="!personForm.$valid">
            Betalen
            <i class="material-icons right">send</i>
        </button>
        </form>
    </div>
