@font-face {
  font-family: 'aleo';
  src: url("fonts/Aleo-Regular-webfont.eot");
  src: url("fonts/Aleo-Regular-webfontd41d.eot?#iefix") format("embedded-opentype"), url("fonts/Aleo-Regular-webfont.html") format("woff"), url("fonts/Aleo-Regular-webfont.ttf") format("truetype"), url("fonts/Aleo-Regular-webfont.svg#aleoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 3, C:/xampp/htdocs/krinkel/css/styles.scss */
.green {
  color: #006c5e; }

/* line 7, C:/xampp/htdocs/krinkel/css/styles.scss */
.center {
  text-align: center; }

/* line 11, C:/xampp/htdocs/krinkel/css/styles.scss */
.right {
  text-align: right; }

/* line 15, C:/xampp/htdocs/krinkel/css/styles.scss */
html, body {
  font-family: aleo;
  font-weight: 100;
  font-size: 16px;
  margin: 0; }
  /* line 20, C:/xampp/htdocs/krinkel/css/styles.scss */
  html, html a, body, body a {
    color: currentColor; }
    /* line 23, C:/xampp/htdocs/krinkel/css/styles.scss */
    html svg, html a svg, body svg, body a svg {
      fill: currentColor; }

/* line 29, C:/xampp/htdocs/krinkel/css/styles.scss */
.save_the_date {
  display: flex;
  align-content: center;
  align-items: baseline;
  width: 9em;
  justify-content: space-around; }

@media screen and (orientation: landscape) {
  /* line 38, C:/xampp/htdocs/krinkel/css/styles.scss */
  .save_the_date {
    font-size: 6rem; } }

@media screen and (max-width: 1600px) {
  /* line 44, C:/xampp/htdocs/krinkel/css/styles.scss */
  html, body {
    font-size: 10px; } }

/* line 49, C:/xampp/htdocs/krinkel/css/styles.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 54, C:/xampp/htdocs/krinkel/css/styles.scss */
body {
  overflow-x: hidden;
  width: 100vw; }

/* line 59, C:/xampp/htdocs/krinkel/css/styles.scss */
nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-size: 1.5em; }
  /* line 66, C:/xampp/htdocs/krinkel/css/styles.scss */
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 100%; }
    /* line 71, C:/xampp/htdocs/krinkel/css/styles.scss */
    nav ul > li {
      flex-basis: 1em; }
  /* line 75, C:/xampp/htdocs/krinkel/css/styles.scss */
  nav > ul {
    width: 100%;
    margin: 1em 0;
    padding: 0 0.5em; }

@media screen and (orientation: portrait) {
  /* line 83, C:/xampp/htdocs/krinkel/css/styles.scss */
  nav > ul {
    align-items: flex-end;
    margin: 0;
    padding: 0; }
    /* line 87, C:/xampp/htdocs/krinkel/css/styles.scss */
    nav > ul > li.logo {
      align-self: flex-start; }
    /* line 90, C:/xampp/htdocs/krinkel/css/styles.scss */
    nav > ul > li.subscribe {
      margin-bottom: 5em; }
    /* line 93, C:/xampp/htdocs/krinkel/css/styles.scss */
    nav > ul ul {
      flex-direction: column; } }

/* line 99, C:/xampp/htdocs/krinkel/css/styles.scss */
nav ul img {
  max-width: 14rem; }

/* line 104, C:/xampp/htdocs/krinkel/css/styles.scss */
.social li {
  margin: 1rem 0.5rem;
  font-size: 1rem; }
  /* line 107, C:/xampp/htdocs/krinkel/css/styles.scss */
  .social li svg {
    width: 2em; }

/* line 113, C:/xampp/htdocs/krinkel/css/styles.scss */
img {
  max-width: 100vw;
  width: 100vw; }

/* line 115, C:/xampp/htdocs/krinkel/css/styles.scss */
#clockdiv {
  height: 100%;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  color: #efd5c8;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  /* line 132, C:/xampp/htdocs/krinkel/css/styles.scss */
  #clockdiv > div {
    padding: .6em;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-radius: .1em; }
    /* line 137, C:/xampp/htdocs/krinkel/css/styles.scss */
    #clockdiv > div > span {
      font-size: 2em;
      padding: .5em;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.4);
      display: inline-block; }

/* line 148, C:/xampp/htdocs/krinkel/css/styles.scss */
.smalltext {
  padding-top: .3em;
  font-size: 1rem; }

/* line 154, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero_wrapper {
  max-height: 100vh;
  overflow: hidden;
  position: relative; }
  /* line 158, C:/xampp/htdocs/krinkel/css/styles.scss */
  .hero_wrapper picture {
    position: relative;
    overflow: hidden;
    z-index: 60; }
    /* line 162, C:/xampp/htdocs/krinkel/css/styles.scss */
    .hero_wrapper picture:nth-of-type(n+2) {
      position: absolute;
      top: 0; }
    /* line 166, C:/xampp/htdocs/krinkel/css/styles.scss */
    .hero_wrapper picture:nth-of-type(2) {
      z-index: 50; }
    /* line 169, C:/xampp/htdocs/krinkel/css/styles.scss */
    .hero_wrapper picture:nth-of-type(3) {
      z-index: 40; }
    /* line 172, C:/xampp/htdocs/krinkel/css/styles.scss */
    .hero_wrapper picture:nth-of-type(4) {
      z-index: 30; }
    /* line 175, C:/xampp/htdocs/krinkel/css/styles.scss */
    .hero_wrapper picture:nth-of-type(5) {
      z-index: 20; }

@keyframes scale-1 {
  0% {
    transform: scale(1);
    opacity: 1; }
  19% {
    opacity: 1; }
  20% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scale-2 {
  20% {
    transform: scale(1);
    opacity: 1; }
  39% {
    opacity: 1; }
  40% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scale-3 {
  40% {
    transform: scale(1);
    opacity: 1; }
  59% {
    opacity: 1; }
  60% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scale-4 {
  60% {
    transform: scale(1);
    opacity: 1; }
  79% {
    opacity: 1; }
  80% {
    transform: scale(1.1);
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes scale-5 {
  80% {
    transform: scale(1);
    opacity: 1; }
  99% {
    opacity: 1; }
  100% {
    transform: scale(1.1); } }

/* line 206, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero1 {
  animation: scale-1 30s infinite;
  overflow: hidden; }

/* line 206, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero2 {
  animation: scale-2 30s infinite;
  overflow: hidden; }

/* line 206, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero3 {
  animation: scale-3 30s infinite;
  overflow: hidden; }

/* line 206, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero4 {
  animation: scale-4 30s infinite;
  overflow: hidden; }

/* line 206, C:/xampp/htdocs/krinkel/css/styles.scss */
.hero5 {
  animation: scale-5 30s infinite;
  overflow: hidden; }

/* line 213, C:/xampp/htdocs/krinkel/css/styles.scss */
main {
  background-image: url(../img/download.jpg);
  background-size: cover;
  background-attachment: fixed; }
  /* line 217, C:/xampp/htdocs/krinkel/css/styles.scss */
  main ul {
    list-style: none;
    width: 100vw; }
    /* line 220, C:/xampp/htdocs/krinkel/css/styles.scss */
    main ul
li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
      padding: 0.75em 5vw;
      font-size: 3rem;
      line-height: 1;
      min-height: 4em; }
      /* line 234, C:/xampp/htdocs/krinkel/css/styles.scss */
      main ul
li:not(.picture_grid) {
        background: rgba(255, 255, 255, 0.5); }
      /* line 235, C:/xampp/htdocs/krinkel/css/styles.scss */
      main ul
li + li:not(:last-child) {
        margin: 8em 0; }
      /* line 238, C:/xampp/htdocs/krinkel/css/styles.scss */
      main ul
li.picture_grid {
        display: flex;
        padding: 0;
        flex-flow: row wrap; }
      /* line 243, C:/xampp/htdocs/krinkel/css/styles.scss */
      main ul
li.info {
        align-items: flex-end; }
      /* line 246, C:/xampp/htdocs/krinkel/css/styles.scss */
      main ul
li span {
        max-width: 20em; }

@media screen and (orientation: portrait) {
  /* line 254, C:/xampp/htdocs/krinkel/css/styles.scss */
  main {
    background-image: url(../img/download_portrait.jpg); } }

/* line 260, C:/xampp/htdocs/krinkel/css/styles.scss */
.picture_grid span {
  display: flex;
  flex-flow: column nowrap;
  width: 10vw; }

/* line 267, C:/xampp/htdocs/krinkel/css/styles.scss */
.soon {
  display: inline-block;
  transform: translateX(1em) translateY(2.5em) rotate(-45deg); }
  /* line 270, C:/xampp/htdocs/krinkel/css/styles.scss */
  .soon svg {
    fill: currentColor;
    width: 3em;
    height: 3em;
    position: relative;
    top: -1em;
    left: 2em; }

/*# sourceMappingURL=styles.css.map */